<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1">
        <title>My Team</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
              integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../../dist/style.css">
    </head>
    
    <header>
        <div class="h-100 p-5 text-white bg-dark text-center">
            <h2>My Team</h2>
        </div>
    </header>

    <main>
        <div class="container-fluid row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            <div class="col">
                <div class="shadow card h-100">
                    <div class="card-header employee-name">Amanda
                        <br>
                        <span>
                            <i class="fas fa-mug-hot"></i> Manager
                        </span>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                              <tr>
                                <td>ID: <span class="employee-id">1</span></td>
                              </tr>
                              <tr>
                                <td>Email <a class="employee-email" href="mailto:myemail@gmail.com">myemail@gmail.com</a></td>
                              </tr>
                              <tr>
                                <td>Office Number: <span class="employee-office-number">1</span></td>
                              </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow card h-100">
                    <div class="card-header employee-name">Zack
                        <br>
                        <span>
                            <i class="fas fa-glasses"></i> Engineer
                        </span>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                              <tr>
                                <td>ID: <span class="employee-id">1</span></td>
                              </tr>
                              <tr>
                                <td>Email <a class="employee-email" href="mailto:myemail@gmail.com">myemail@gmail.com</a></td>
                              </tr>
                              <tr>
                                <td>GitHub: <a class="employee-github" href="https://github.com/glazovg" target="_blank">https://github.com/glazovg/</a></td>
                              </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow card h-100">
                    <div class="card-header employee-name">Nancy
                        <br>
                        <span>
                            <i class="fas fa-user-graduate"></i> Intern
                        </span>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                              <tr>
                                <td>ID: <span class="employee-id">1</span></td>
                              </tr>
                              <tr>
                                <td>Email <a class="employee-email" href="mailto:myemail@gmail.com">myemail@gmail.com</a></td>
                              </tr>
                              <tr>
                                <td>School: <span class="employee-school">Standford</span></td>
                              </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="shadow card h-100">
                    <div class="card-header employee-name">Guille
                        <br>
                        <span>
                            <i class="fas fa-mug-hot"></i> Manager
                        </span>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                              <tr>
                                <td>ID: <span class="employee-id">1</span></td>
                              </tr>
                              <tr>
                                <td>Email <a class="employee-email" href="mailto:myemail@gmail.com">myemail@gmail.com</a></td>
                              </tr>
                              <tr>
                                <td>Office Number: <span class="employee-office-number">1</span></td>
                              </tr>
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <body>

    </body>

</html>
